<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ricardo - 301267029 - COMP 229</title>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/@fontawesome/fontawesome-free/css/all.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">


        <style>
            ul.navbar-max {
                list-style: none;
                display: inline;
                float: right;
                font-size: 20px;
            }
            
            ul.navbar-max li {
                display: inline-block;
            }
            
            a {
                text-decoration: none;
            }

            html, body {
                height: 100%;
                margin: 0;
            }

            body {
                display: flex;
                flex-direction: column;
            }

            main {
                flex: 1;
            }

            footer {
                background-color: #8cc08b;
                color: #591f1f;
                padding: 10px;
            }

            footer .navbar-text {
                margin-bottom: 0;
            }
        </style>
    </head>   
</html>
