<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<div class="w-100" style="background-color: lightcyan">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center" style="padding-top: 20px;">
        <span>&copy; Ricardo Schwarz - COMP 229 - 301267029. All Rights Reserved.</span>
      </div>
      <div class="col">
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <!-- LINKEDIN LINK -->
            <a href="https://www.linkedin.com/in/ricardo-costamilan/" class="btn btn-link" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <!-- GITHUB LINK -->
            <a href="https://github.com/Ricardoonz" class="btn btn-link" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-github"></i> GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>