<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="text-center mt-4 mb-4">Ricardo's About Page</h1>
  </div>

  <body style="background-color: lightcyan;">
    <center><img src="/img/ricardo.jpeg" alt="logo" style="width: 150px; height: 150px;"></center>

    <div style="margin: 0 20px;"> <!-- Add margin to create space on the sides -->
      <h2>Introduction</h2>
      <p>Hello there! I'm Ricardo, and I'm currently on an exciting journey as a Software Engineering student. My fascination lies in the realm of IoT (Internet of Things) projects, where I get to explore the fusion of technology with the physical world. IoT's potential to connect devices and create smart, efficient systems has always captivated me. I'm deeply committed to learning and creating innovative solutions that bridge the digital and physical divide, making our lives more interconnected and convenient.</p>
      
      <p>Beyond the world of code and circuits, I'm an avid gamer. Video games have been a constant source of inspiration and entertainment in my life. They not only offer immersive experiences but also challenge my problem-solving skills and creativity. Whether I'm exploring vast virtual worlds or competing in multiplayer battles, I find endless joy and a sense of accomplishment in gaming.</p>
      
      <p>Combining my passion for IoT with my love for video games, I aspire to explore the exciting intersections of these two worlds, perhaps even developing gaming-related IoT projects that enhance the gaming experience. In this journey, I'm always eager to learn, collaborate, and push the boundaries of what technology can achieve.</p>
      
      <p>Feel free to explore my portfolio to see how I'm blending my passions and skills to create meaningful and innovative projects.</p>
    </div>

    <!-- RESUME -->
    <div class="p-5 text-center">
      <h5><a href="xxxxx" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click here to view my Resumé!</a></h5>
    </div>

    <%- include ('partials/bottom_nav.ejs') %>
    <%- include ('partials/footer.ejs') %>
  </body>
</main>
