<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <center>
      <h1 class="mt-4 mb-3">Let's Get in touch!</h1>
    </center>
    <body style="background-color:lightcyan;">
      <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form>
              <!-- FIRST NAME -->
              <div class="form-group p-2">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" class="form-control" placeholder="Enter your first name" required>
              </div>
              <!-- LAST NAME -->
              <div class="form-group p-2">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" class="form-control" placeholder="Enter your last name:" required>
              </div>
              <!-- EMAIL ADDRESS -->
              <div class="form-group p-2">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email address" required>
              </div>
              <!-- PHONE NUMBER -->
              <div class="form-group p-2">
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone" class="form-control" placeholder="Enter your phone number" required>
              </div>
              <!-- MESSAGE -->
              <div class="form-group p-2">
                <label for="message">Message</label>
                <textarea id="message" name="message" class="form-control" placeholder="Write your message here" rows="4" required></textarea>
              </div>
              <!-- SUBMIT BUTTON -->
              <div style="text-align: center;">
                <a href="/" class="btn btn-primary">Submit</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </body>
  </div>
  <%- include('partials/bottom_nav.ejs') %>
  <%- include('partials/footer.ejs') %>
</main>
