<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<main class="container">
    <div class="jumbotron">
        <center>
            <h1 class="mt-4 mb-3">Welcome to My Personal Portfolio!</h1>
        </center>

        <html>
            <body style="background-color: lightcyan;">
                <main>
                    <h2>About Me</h2>
                    <p class="mb-3">Hello there! I'm Ricardo, and I'm currently on an exciting journey as a Software Engineering student. My fascination lies in the realm
                        of IoT (Internet of Things) projects, where I get to explore the fusion of technology with the physical world.
                    </p>
                    <p class="mb-4">On this website, you'll find information about my work, projects, and services. I hope you enjoy exploring my pages and learning more about me!</p>
                    <a class="nav-link" href="/about">
                        <i class="fa-solid fa-address-card"></i>
                        <button>Learn More About Me</button>
                    </a>

                    <hr> 

                    <h2 class="mt-4">My Mission</h2>
                    <p class="mb-3">My mission is to be the creative force that turns mere pixels on a screen into a powerful purpose. Through my skills and expertise,
                        I seek to ignite not just inspiration but a true sense of innovation and meaningful change. With every project I undertake,
                        I envision myself as an artist, painting a vibrant and optimistic future within Software Engineering. It's a journey where each pixel
                        represents a step forward, and together, they form a mosaic of progress and possibility.
                    </p>

                    <hr> 

                    <h2 class="mt-4">Get in Touch</h2>
                    <p class="mb-3">If you have any questions or would like to work with me, please don't hesitate to reach out! You can contact me through the form on my <a href="/contact">Contact Page</a>.</p>
                    <p class="mb-4">Thank you for visiting my website, and I hope you have a great day!</p>
                </main>
            </body>
        </html>

        <%- include('partials/bottom_nav.ejs') %>
        <%- include('partials/footer.ejs') %>

    </div>
</main>
